@model InstallationAPPNonUnify.ViewModels.ChangePasswordViewModel
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/" + @ViewBag.Layout;
}

<script>
    var modelMessage = '@Html.Raw(Model.Message)';
    var alertMessageFromModel = "@Html.Raw(Model.AlertMessage)";
    var fieldDisplayName = @Html.Raw(Json.Encode(Model.FieldDispalyName));
    (function () {
        try {
            if (alertMessageFromModel != null && alertMessageFromModel != "") alert(alertMessageFromModel);
        } catch (e) { }
    })();
</script>
<div id="ChangePasswordViewForm" class="form1">
    <div class="container" id="body-container">
        <div class="row">
            <div class="col-md-12">
                <div id="form-container">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-md-11">
                                @using (Html.BeginForm("ChangePassword", "Order", FormMethod.Post, new { id = "ChangePasswordForm", @class = "validationForm" }))
                                { 
                                    @Html.AntiForgeryToken()
                                    <div class='form-group'>
                                        <label class='control-label col-md-2 col-md-offset-2'>
                                            @CustomHelper.DisplayName(Model.FieldDispalyName, Html.DisplayNameFor(model => model.UserId))
                                        </label>
                                        <div class='col-md-6'>
                                            <div class='form-group internal'>
                                                <div class='col-md-11'>
                                                    @Html.TextBoxFor(model => model.UserId, new { @class = "input-block-level input-field", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='form-group'>
                                        <label class='control-label col-md-2 col-md-offset-2'>
                                            @CustomHelper.DisplayName(Model.FieldDispalyName, Html.DisplayNameFor(model => model.NewPassword))
                                        </label>
                                        <div class='col-md-6'>
                                            <div class='form-group internal'>
                                                <div class='col-md-11'>
                                                    @Html.PasswordFor(model => model.NewPassword, new { @class = "input-block-level input-field" })
                                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "filedError" })
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class='form-group'>
                                        <label class='control-label col-md-2 col-md-offset-2'>
                                            @CustomHelper.DisplayName(Model.FieldDispalyName, Html.DisplayNameFor(model => model.NewPasswordConfirm))
                                        </label>
                                        <div class='col-md-6'>
                                            <div class='form-group internal'>
                                                <div class='col-md-11'>
                                                    @Html.PasswordFor(model => model.NewPasswordConfirm, new { @class = "input-block-level input-field" })
                                                    @Html.ValidationMessageFor(model => model.NewPasswordConfirm, "", new { @class = "filedError" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class='form-group'>
                                        <div class='col-md-offset-4 col-md-3'>
                                            <input type="submit" id="Button1" value='@ViewBag.Submit' class="btn-red-primary btn-large" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        //載入上方的底圖
        //document.getElementById("jumbotronImg").style.backgroundImage = 'url(/../Content/custom/images/CaseHeader/change-password.jpg)';
        document.getElementById("jumbotronImg").style.backgroundImage = "url(" + '@Url.Content("~/Content/custom/images/CaseHeader/change-password.jpg")' + ")";

        //共用目錄中按鈕的名稱反白 (jQuery還沒載入，所以直接用JS)
        document.getElementById("menubarChangepwdM").parentElement.classList.add("active");
    })();
</script>