@model InstallationAPPNonUnify.ViewModels.ForegetPasswordViewModel

@{
    Layout = "~/Views/Shared/" + @ViewBag.Layout;
}

<script>
    var modelMessage = '@Html.Raw(Model.Message)';
    var alertMessageFromModel = "@Html.Raw(@Model.AlertMessage)";
    (function () {
        try {
            if (alertMessageFromModel != null && alertMessageFromModel != "") alert(alertMessageFromModel);
        } catch (e) { }
    })();
</script>

@using (Html.BeginForm("ForgetPassword", "Main", FormMethod.Post, new { id = "ForgetPasswordForm", @class = "validationForm addRequiredStars" }))
{ 
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row">
            <br>
            <br>
            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 form-align-center">
                <div class="alert alert-custom-dark">
                    <h2 style="text-align:center;">
                        <strong>@ViewBag.ForgetYourPassword</strong>
                    </h2>
                    <h4 style="text-align:center;">
                        @ViewBag.ForgetPasswordDesc
                    </h4>
                </div>
                <div style="width:60%;">
                    <h3>
                        @CustomHelper.DisplayName(Model.FieldDispalyName, Html.DisplayNameFor(model => model.UserName))
                    </h3>
                    @Html.TextBoxFor(model => model.UserName, new { placeholder = @ViewBag.UserIdPlaceholder, @class = "input-block-level input-field" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "filedError" })
                    <br />
                    <br />
                </div>
                <input type="submit" class="btn-custom-outline" value='@ViewBag.ResetPassword'>
            </div>
        </div>
    </div>
    <br />
    <br />
}


